html, body{
    margin: 0;
    padding: 0;
} 

*{
    box-sizing: border-box;
}

body{
    max-width: 600px;
    min-height: 600px;
    max-height: 1024px;
    background-color: #f5f6f6;
}

.root{
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn-style{
    background-color: transparent;
    color: black;
    border: none;
    min-width: 24%;
    /* max-height: 100px; */
    padding: 5px 10px;
    vertical-align: center;
    text-align: center;
}


/* Display */
.display{
    width: 100%;
    min-height: 100px;
    height: 20%;
    max-height: 150px;
}

#disfield{
    width: 100%;
    height: 100%;
    border: none;
    color: black;
    font-size: 38px;
    background-color: transparent;
    text-align: right;
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 40px;
}

#disfield:focus{
    border-color: transparent;
}


/* Functions */
.functions{
    width: 100%;
    /* height: 85%; */
    display: flex;
    flex-direction: column;
}

.numsbtn{
    font-size: 34px;
    font-weight: 500;
    background-color: #fcfcfc;
}

.optbtn{
    font-size: 24px;
    font-weight: 300;
}

#equal{
    background-color: #92c2e8;
}

/* .upper{
    width: 100%;
    height: 25%;
}

.upper-row-1{
    font-size: 20px;
    color: black;
} */


